nav {
  display: flex;

  justify-content: space-between;
  align-items: center;

  position: fixed;

  width: 100%;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  margin: 0px;
  padding: 0px;
  background-color: rgb(48, 49, 51);

  top: 0;
}

.menu {
  display: flex;

  list-style: none;

  font-weight: 300;
  font-size: 21px;
  margin: 0px;
}

.logo {
  margin-left: 20px;
  margin-bottom: -5px;
  letter-spacing: 2px;
  font-size: 30px;
  color: #49dd9d;
}

.menu {
  /*margin-right: 15px;*/
  margin: 0px;
  padding: 0px;
}

.menu li {
  /*margin-right: 15px;*/
  margin: 0px;
  padding: 20px;
}

.menu li:hover {
  background-color: black;
}

header h1 {
  font-size: 80px;
  letter-spacing: 5px;
}

body {
  background-color: #17191b;
}

.topBarButton {
  padding: 20px;
  border: none;
  user-select: none;
  outline: none;
  background: none;
  font-size: 20px;
}
.topBarButton:hover {
  background-color: rgb(39, 39, 43);
}

.featured {
  background-color: #0f1011;
  align-items: center;
  text-align: center;
  margin: 100px;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  padding: 2%;
}
/*.boxes {
  background-color: #0f1011;
  align-items: center;
  align-items: initial;
  margin: auto;

  padding: 15px;
  display: flex;

  justify-content: space-between;
}*/
.featured h1 {
  color: #3ca578;
  font-size: 40px;
}

header {
  color: #3ca578;
  font-size: 40px;
  text-align: left;
}

.box {
  background-color: #17191b;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  padding: 25px;
  margin: 20px;
  display: block;
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}

.center h1 {
  text-align: center;
}
.center li {
  text-align: center;
  font-size: xx-large;
  list-style: none;
}

.featuredP {
  font-size: 20px;
}

img {
  width: 100%;
  margin: auto;
  border-radius: 10px;
  margin-top: 20px;
}

.gem {
  display: inline-flex;
  margin: auto;
  width: 100%;
  padding: 50%;
  align-items: center;
}

.about {
  background-color: #0f1011;
  text-align: center;
  align-items: center;
  margin-top: 100px;
  margin-right: 20%;
  margin-left: 20%;
  /* border-radius: 5px; */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  padding: 2% 5%;
}

.about h1 {
  color: #3ca578;
  font-size: 45px;
}

/*.about p {
  margin-top: 35px;
  font-size: 20px;
}*/

.aboutdescriptionbig {
  margin-top: 20px;
  font-size: 20px;
}

.aboutdescription {
  font-size: 30px;
  margin-top: 5px;
}

.aboutcontact {
  font-size: 30px;
  margin-top: 25px;
}

.workdiv {
  margin: 25px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}

.workbox {
  align-content: center;
  text-align: center;

  background-color: #0b0c0c;

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);

  padding: 25px;
  margin: 20px;

  max-width: 30%;
}

.worka {
  display: inline;
  margin: 0px;
  max-width: 64px;
}

.workimg {
  max-width: 500px;
}

.worka img {
  display: inline;
  margin: 0px;
  margin-top: 0px;
  max-width: 64px;
}

.workdiv h1 {
  font-size: 40px;
  color: #3ca578;
  margin-bottom: 10px;
}

.home {
  /* background-color: #0f1011; */
  align-items: center;
  text-align: center;
  margin: 100px;
  margin-bottom: -100px;
  border-radius: 5px;
  padding: 1%;
}

.home h1 {
  color: #3ca578;
  font-size: 60px;
}

.home h2 {
  font-size: 40px;
}
.contacts {
  align-items: center;
  text-align: center;

  margin: auto;

  width: 366px;

  display: flex;

  justify-content: space-between;
}

.contacts img {
  max-width: 64px;
}
